@import url(http://fonts.googleapis.com/css?family=Dosis:600);
.continueCustomButton {
	height: 100%;
	background-color: #cc181e !important;
	margin-left: 20px;
	margin-top: 2px;
	padding-right: 7px;
	padding-left: 5px;
	text-align: right;
	vertical-align: middle;
}

#continue-icon {
	float: left;
	width: 16px;
	padding-top: 4px;
}

#continue-label {
	float: right;
	margin-left: 7px;
	padding-top: 5px;
}

#myframebitch {
	width: 200px !important;
	float: left;
}

#continueSettingsContainer {
	padding-bottom: 30px;
	left: 20%;
	//background-color: rgba(204,24,30,0.8);
	background-color: rgba(31,31,31,0.9);
	max-width: 200px;
	text-align: center;
	color: #fff;
}

.phoneTextField {
	width: 30px;
}

#continueLogo {
	float: left;
}

#continueHeader {
	float: right;
	font-size: 10%;
	font-family: "Dosis", 'sans-serif';
	font-weight: 600;
}
